@font-face {
    font-family: 'Helvetica';
    src: url('./Helvetica-Font/Helvetica.ttf');
    src: url('./Helvetica-Font/Helvetica.woff') format('embedded-opentype'),
        url('./Helvetica-Font/Helvetica.woff2') format('woff2');
}