// @import "../fonts/fonts.scss";
@import "./mixins/mixins.scss";

body{
  font-family: 'Helvetica';
  #menu{
    position: absolute;
    background: #F6F8F9;
    width: 80%;
    height: 100%;
    box-shadow: -40px 0 200px 30px grey;
    display: none;
    .container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .menu-div{
        width: 80%;
        height: 60%;
        margin: 0 auto;
        
        h5{
          margin: 5% 0 30% 0;
          color: #fa6980;
          font-weight: bold;
        }
        ul{
          li{
            margin-bottom: 15%;
            display: flex;
            align-items: center;
            color: #a6adb4;
            span{
              margin-right: 4%;
            }
          }
          :first-child{
            color: black;
            font-weight: bold;
          }
        }
      }
      .footer{
        background: rgb(179, 179, 179);
        height: 40%;
        padding: 10% 0;
        box-sizing: border-box;
        
        .navigation{
          display: flex;
          width: 80%;
          height: 80%;
          margin: 0 auto;
          .menu{
            width: 50%;
            height: 90%;
            nav{
              height: 100%;
            }
            nav ul{
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
            nav ul li{
              margin: 2% 0;
              a{
                color: #cfcece;
                font-weight: bold;
              }
            }
          }
        }
        .socials{
          width: 80%;
          height: 20%;
          margin: 0 auto;
          // border: 1px solid red;
          .container{
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            color: #cfcece;
          }
        }
      }
    }
  }
}

@import "./commonStyles/header.scss";
main {
  font-family: "Helvetica";
  .world-news {
    display: flex;
    .pic-info {
      width: 60%;
      height: 600px;
      background: url("../photos/Image.png") no-repeat;
      background-size: cover;
      background-position: bottom;
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        color: white;
        width: 60%;
        h2 {
          font-size: 24px;
          text-transform: uppercase;
          font-weight: bold;
        }
        h3 {
          font-size: 20px;
          margin: 1% 0;
        }
        hr {
          margin: 4% 0;
        }
        p {
          font-size: 15px;
          margin-bottom: 5%;
        }
        button {
          font-size: 11px;
          color: white;
          text-transform: uppercase;
          background: #fa6980;
          padding: 2%;
          border-radius: 8px;
          border: 0;
          cursor: pointer;
        }
      }
    }
    .more-news {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      .container {
        width: 65%;
        display: flex;
        flex-direction: column;

        .title {
          // border: 1px solid red;
          width: 80%;
          display: flex;
          justify-content: space-between;
          h2 {
            font-size: 24px;
            font-weight: bold;
          }
          .arrows {
            @include arrows(20%);
            img{
                width: 5%;
            }
          }
        }
        hr {
          margin: 4% 0;
          width: 80%;
          border: 1px solid #ebeded;
        }
        .cards{
          .card {
            margin: 4% 0;
            h3 {
              color: #fa6980;
              font-weight: bold;
            }
            h4 {
              font-weight: bold;
              margin: 4% 0;
            }
            p {
              color: #a6adb4;
              font-family: 'AcuminPro';
            }
            .time p {
              margin: 2% 0;
              display: flex;
              align-items: center;
              span {
                margin-left: 1%;
                font-size: 13px;
                color: #a6adb4;
              }
            }
          }
        }
      }
    }
  }
  .trending {
    background: #ebeded;
    .container {
      padding: 2% 0 0 0;
      width: 75%;
      margin: auto;
      .title {
        @include title(5%);
      }
      .cards {
        display: flex;
        justify-content: space-between;
        .card {
          margin: 2% 0;
          background: #ffffff;
          width: 30%;
          .img img {
            width: 100%;
          }
          .card-text {
            width: 80%;
            margin: 4% auto;
            h4 {
              font-weight: bold;
              margin-bottom: 2%;
            }
            p{
              font-family: 'AcuminPro';
            }
            @include card-text(5%);
          }
        }
      }
    }
  }
  .happening-now {
    background: #ebeded;
    padding-bottom: 5%;
    .container {
      width: 75%;
      margin: auto;
      .title {
        margin-bottom: 2%;
        @include title(5%);
      }
      .gallery{
        display: flex;
        justify-content: space-between;
          .left{
              width: 65%;
              .card{
                margin-bottom: 5%;
                width: 100%;
                height: 430px;
                background: url('../photos/bridge.png') no-repeat;
                background-size: cover;
                @include card-text(2%);
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                .card-text{
                  width: 85%;
                  height: 80%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  h2, h3{
                    font-weight: bold;
                  }
                  p{
                    color: white;
                    margin: 1% 0;
                  }
                }
              }
              .card2{
                background: url('../photos/forest.png') no-repeat;
                background-size: cover;
                margin-bottom: 0;
              }
          }
          .right{
            width: 30%;
            .cards{
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .card{
                margin: 2% 0;
                margin-top: 0;
                .card-text{
                  h4{
                    font-weight: bold;
                    margin: .5% 0;
                  }
                  .time p span{
                    color: #a6adb4;
                  }
                  .time p span span{
                    font-size: 14px;
                    text-decoration: underline;
                  }
                }
                .img img{
                  width: 100%;
                  
                }
              }
            }
          }
      }
    }
  }
}
@import "./commonStyles/footer.scss";

// MEDIA QUERIES
@media only screen and (max-width: 1080px) {
  main{
    .world-news{
      flex-direction: column;
      .pic-info, .more-news{
        width: 100%;
      }
      .more-news .container{
        width: 85%;
        padding-top: 4%;
        .title, hr{
          width: 100%;
        }
        .cards{
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .trending .container .cards{
      .card{
        width: 48%;
      }
      .card3{
        display: none;
      }
    }
    .happening-now .container .gallery{
      flex-direction: column;
      .left{
        width: 100%;
      }
      .right{
        width: 100%;
        margin-top: 4%;
        .cards{
          flex-direction: row;
          .card{
            width: 48%;
          }
          .card3{
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px){
  header{
    padding: 2%;
    box-sizing: border-box;
    .navigation{
      display: none;
    }
    .burger-menu, .avatar{
      display: block;
    }
    .logo a{
      color: #a6adb4;
      font-weight: bold;
    }
    .avatar{
      @include avatar("/assets/photos/avatar.png");
      width: 16px;
      height: 16px;
    }
    #burger-menu{
      background: none;
      border: 0;
    }
  }
  main{
    .world-news{
      .pic-info {
        height: 300px;
        .text{
          width: 90%;
        }
      }
      .more-news .container .cards{
        flex-direction: column;
      }
    }
    // 
    .trending .container {
      width: 90%;
      .cards{
        flex-direction: column;
        .card{
          width: 100%;
        }
      }
    }
    .happening-now .container{
      width: 90%;
      .gallery .left {
        border-bottom: 1px solid #a6adb4;
        padding-bottom: 10%;
        .card{
          height: 250px;
        }
      }
      
      .gallery .right .cards{
        flex-direction: column;
        margin-top: 5%;
        .card{
          width: 100%;
          margin-bottom: 4%;
        }
        .card3{
          display: block;
        }
      }
    }
  }
  footer{
    display: none;
  }
}

